<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="psr-7">
            <directory>tests/psr-7</directory>
        </testsuite>
        <testsuite name="utilities">
            <directory>tests/utilities</directory>
        </testsuite>
        <testsuite name="psr-17">
            <directory>tests/psr-17</directory>
        </testsuite>
    </testsuites>
</phpunit>
